---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Zack Roessler">
  <main>
    <h1 class="text-9xl font-medium">Zack Roessler</h1>
  </main>
</Layout>

<style></style>
