---
import Layout from "../layouts/Layout.astro";
import AppCard from "../components/AppCard.astro";
import Spacer from "../components/Spacer.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ProfilePic from "../components/ProfilePic.astro";

const towerDesc =
  "a website that enables users to organize, administer, and participate in events. users can easily create and join events from the homepage, and manage their events from the account page.";
const groceryDesc =
  "a design concept for a website that allows users to compare prices between different grocery stores. users can create lists and discover which grocery store near them has the best prices for the items on their list";
const cookieDesc =
  "a simple site for making anonymous blog posts. users can vent their thoughts out for strangers to read, and then randomly browse and comment on the thoughts of other users. ";
---

<Layout title="Zack Roessler">
  <main class="">
    <Nav />
    <div class="md:mx-52">
      <Spacer />
      <Hero />
      <Spacer />
      <ProfilePic />
      <Spacer />
      <Spacer />
      <div class="">
        <h1 class="text-6xl font-medium text-primary mb-9">Expertise</h1>
        <div class="grid grid-cols-2 gap-x-80 justify-items-end mt-24">
          <div class="relative">
            <div class="h-6 w-5/6 bg-verdigris mb-8"></div>
            <h3 class="text-6xl font-medium text-light absolute -top-9 left-0">
              Front End
            </h3>
            <div>
              <p class="text-3xl text-light">
                Proficient in HTML, CSS, JS, Vue and Astro frameworks
              </p>
            </div>
          </div>
          <div class="relative">
            <div class="h-6 w-3/4 bg-crorange mb-8"></div>
            <h3 class="text-6xl font-medium text-light absolute -top-9 left-0">
              Back End
            </h3>
            <div>
              <p class="text-3xl text-light">
                Skilled in OOP and functional programming in Python, C#, and C++
              </p>
            </div>
          </div>
        </div>
      </div>
      <Spacer />
      <Spacer />
      <Spacer />

      <div>
        <h1 class="text-6xl font-medium text-primary">Applications</h1>
        <div class="my-16 grid md:grid-cols-2 gap-16">
          <AppCard
            title="Tower"
            desc={towerDesc}
            imgPath="/images/tower.png"
            link="https://zroes-tower.onrender.com/"
          />
          <AppCard
            title="Grocery Run"
            desc={groceryDesc}
            imgPath="/images/grocery-run.png"
            link="https://grocery-run.onrender.com/"
          />
          <AppCard
            title="Thoughts Cookie"
            desc={cookieDesc}
            imgPath="/images/thoughts-cookie.png"
            link="https://thoughts-cookie.netlify.app/#/"
          />
        </div>
      </div>
    </div>
  </main>

  <style></style>
</Layout>
