---
import Layout from "../layouts/Layout.astro";
---

<script>
  // import "../scripts/rotatecube.js";
</script>
<Layout title="Zack Roessler">
  <main class="">
    <div class="md:mx-52 mt-40">
      <h3 class="text-6xl font-medium text-primary/50 mb-6">I am:</h3>
      <h1 class="text-9xl font-medium text-primary mb-9">Zack Roessler,</h1>
      <h6 class="text-3xl font-light text-primary leading-normal xl:mr-96">
        a software developer, with a passion for machine learning and ai
      </h6>
      <p class="mt-72"></p>
    </div>
  </main>
</Layout>

<style></style>
