---
import Socials from "./Socials.astro";
---

<div>
  <h3 class="text-6xl font-medium text-primary/50 mb-6">I am</h3>
  <h1 class="text-9xl font-medium text-primary mb-9">Zack Roessler</h1>
  <h3 class="text-3xl font-light text-primary leading-normal xl:mr-80">
    a full-stack developer, perpetual learner, with an interest in machine
    learning and ai
  </h3>
  <Socials />
</div>
