---

---

<div
  class="py-4 border-b-2 border-primary fixed w-full bg-darker flex justify-end z-10"
>
  <div class="mx-5">
    <a
      href="../../public/ZackRoesslerResume.pdf"
      type="application/pdf"
      target="_blank"
    >
      <button
        class="rounded bg-dark py-1 px-2 text-primary border border-primary select hover:text-verdigris hover:border-verdigris hover:scale-105 active:scale-95"
        >Resume</button
      >
    </a>
  </div>
</div>
