---

---

<div
  class="py-4 border-b-2 border-primary fixed w-full bg-darker flex justify-end z-20"
>
  <div class="mx-5">
    <div
      class="rounded bg-dark py-1 px-2 text-primary border border-primary hover:text-verdigris hover:border-verdigris hover:scale-105 active:scale-95"
    >
      <a
        href="../ZackRoesslerResume.pdf"
        type="application/pdf"
        target="_blank"
      >
        Resume
      </a>
    </div>
  </div>
</div>
