---

---

<div
  class="text-xl font-light text-primary grid grid-flow-col auto-cols-max gap-8 mt-8"
>
  <div
    class="select bg-darker px-2 py-1 rounded z-10 outline hover:outline-crorange hover:text-crorange hover:scale-105 active:scale-95"
  >
    <a href="https://github.com/zroes" target="_blank">
      <iconify-icon icon="mdi:github"></iconify-icon> GitHub
    </a>
  </div>

  <div
    class="select bg-darker px-2 py-1 rounded z-10 outline hover:outline-crorange hover:text-crorange hover:scale-105 active:scale-95"
  >
    <a href="https://www.linkedin.com/in/zack-roessler/" target="_blank">
      <iconify-icon icon="mdi:linkedin"></iconify-icon> LinkedIn
    </a>
  </div>
</div>
